.mainLightbox {
  display: flex;  
  justify-content: center;
  align-items: center;
  position: absolute; /* Cambiar a position: fixed */
  align-items: center;
  width: 80%;
}

.mainLightbox.show {
  display: flex; /* Mostrar el lightbox cuando la clase .show está presente */
}

.mainLightbox-container {
  position: relative;
}

.mainLightbox-video {
  display: flex;
  justify-content: center;
}

.mainLightbox-video video {
  width: 80%; /* Ajustar el ancho del video según sea necesario */
  max-width: 100%;
  height: auto; /* Mantener la proporción de aspecto */
}

.mainLightbox-toggle {
  position: flex; /* Cambiar a position: fixed */
  margin-top: -20px; /* Ajustar la posición según sea necesario */
  margin-left: 10px ; /* Ajustar la posición según sea necesario */
  color: white;
  font-size: 24px; /* Ajustar el tamaño del icono según sea necesario */
  z-index: 10000; /* Asegurarse de que esté por encima del lightbox */
  cursor: pointer;
}
