.mainLightbox {
    display: flex;
    justify-items: center;
    justify-content: center;
    position: absolute;
    width: 1200px;
    z-index: 100;
    margin-top: 100px;
    margin-left: 0px;
    }
    
    /* Importante para centrar la barra de control */
    .mainLightbox-container {
      justify-content: center;
      align-items: center;
      margin-top: -100px;
    }
    
    .mainLightbox-video{
      display: flex;
      justify-content: center;
    }
    
    .mainLightbox-video video{
      display: flex;
      justify-content: center;
      width: 100%;
    }
      
    .mainLightbox-toggle {
      display: flex;
      position: absolute;
      margin-top: 20px;
      font-size: 40px;
      /* -webkit-margin-start: 550px; */
    }

    @media screen and (max-width: 650px) {
      .mainLightbox {
        width: 100%;
      }
    }