/* * {
  outline: 1px rgb(99, 207, 244) dashed;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
}

#overlay-button {
  display: none;
}

.homeMobile {
  display: none;
}

.contactoMobile {
  display: none;
}

.clientesMobile {
  display: none;
}

.nosotrosMobile {
  display: none;
}

button{
  background-color:  transparent;
  border: transparent;
}

a {
  color: #eaeaea;
  text-decoration: none;
  font-weight: 600;
  font-family: "Montserrat";
  transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
  text-shadow: 0 0 5px currentColor;
}

p {
  font-family: "Montserrat";
  font-weight: 700;
  color: #FFF;
}

nav {
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  margin-top: 58px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  background: black;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

#logotipo {
  position: absolute;
  top: -9999px;
}

.logo {
  display: flex;
  margin-top: -1rem !important;
  width: 250px;
  margin: 45px 20px 0 0;
}

.socialIcon {
  width: 40px !important;
  height: 40px !important;
  margin-bottom: 10px;
}

.email{ 
  margin-bottom: 300px;
}

.movil{ 
  margin-bottom: 200px;
}

/* Boton Principal */
.verReel {
  position: absolute;  
  background-color: transparent;
  border: none;
  margin-left: -900px;
}

h2 {
  font-size: clamp(1rem, 5vw, 5rem);
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  color: #cccccc;
  width: 90vw;
  max-width: 1200px;
}

h2:hover {
  transform: scale(1.05);
  text-shadow: 0 0 10px #cccccc;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  z-index: 3;
  font-family: "Montserrat";
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.3em;
}

.texto {
  font-size: 20px;
  font-weight: 300;
  color: rgb(219, 219, 219);
  position: absolute;
  line-height: 26px;
  text-align: center;
  margin-top: 300px;
  width: 800px;
  padding: 0px;
}

.section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}
.section .wrapper-outer,
.section .wrapper-inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.section .background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}
.section .background h2 {
  z-index: 2;
}
.section .background .clip-text {
  overflow: hidden;
}

h2 * {
  will-change: transform;
}

h3 {
  position: absolute;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  width: 500px;
  color: rgb(227, 227, 227);
}

/* En pantallas medianas (tablets) */
@media screen and (max-width: 768px) and (min-width: 425px) {
  nav {
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
  }
  
  header {
    margin-top: 100px !important;
  }

  button {
    margin-top: 350px;
    margin-left: -340px !important;
  }
}

@media screen and (max-width: 425px) {

  nav{
    display: none;
  }

  #logotipo {
    width: 250px;
    margin: 150px 0 0 10px;
    top: -120px;
  }

  #overlay-button {
    display: flex;
  }
  
  .section-title{
    display: flex;
    justify-content: center;
  }

  button {
    margin-top: 350px;
    margin-left: -150px !important;
  }

  .verReel {
    margin-left: -130px;
  }

  h2{
    font-size: 30px;
    margin-top: -40px;
  }

  h3{
    font-size: 20px;
  }

  .homeMobile {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 103%;
  }

  /* .nosotrosMobile {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 103%;
  } */

  .texto{
    line-height: 20px;
    display: flex;
    width: 300px;
    font-size: 16px;
    margin-top: 220px;
  }

  /* Clientes */
  .clientesMobile {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 103%;
    z-index: -1;
  }
  
  .contactoMobile {
    display: flex;
    position: absolute;
    z-index: -1;
    justify-content: center;
    width: 100%;
    height: 103%;
  }

  .email{
    width: 100%;
  }

  .movil{
    margin-bottom: 220px;
    width: 100%;
  }
}
